body {
    font-family: Arial, Helvetica, sans-serif;
    font-size-adjust: initial;
    font-size: 15px;   
    margin: 10px auto 10 px auto;
}

header {
    background-color: aquamarine;
    width: 100vw;
    height: 90vh;
    text-align: center;
}

.navlinks {
    background-color:blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 10 px auto;
    font-weight: bold;
    font-style: italic;
    padding: 20px 20px 20px 20px;
}  

.exp {
    background-color: red;
    width: 100%;
    margin: 10px auto 10 px auto;
    font-weight: bolder;
    font-display: center;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}

.formations {
    background-color: green;
    display: flex;
    margin: 10px auto 10 px auto;
    padding: 20px 20px 20px 20px;
}

.objectif {
    background-color: yellow;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10 px auto;
    padding: 20px 20px 20px 20px;  
}

.objectif h1 {
    font-weight: bold;
    padding: 20px 20px 20px 20px;
}

.competences {
    background-color: pink;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10 px auto;
    font-display: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.divers {
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10 px auto;
    font-display: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.divers h1 {
    font-weight: bold;
    padding: 20px 20px 20px 20px;
}

.footer {
    background-color: indigo;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10 px auto;
    font-display: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}